<!DOCTYPE html>
<html>
  {% block styles %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  {% endblock %}
  {% block head %}
  <script>
    
    function sendSearch(){
	
	console.log("starting function");
	var xhttp = new XMLHttpRequest();
	var query = document.getElementById("query").value;
	console.log("This is the query:"+query);
	
	document.getElementById("queryResults").innerHTML = "";
	
	xhttp.onreadystatechange = function() {
	    if (this.readyState == 4 && this.status == 200) {
		urls = JSON.parse(this.response);
		for(i=0;i<Object.keys(urls).length;i++){
		    let text = "<br><a href="+urls[String(i)]+" >"+urls[String(i)]+"</a></br>";
		    console.log(text);
		    document.getElementById("queryResults").innerHTML += text;
		 	  
		}
		event.preventDefault();
	    };
	}
	
	
	xhttp.open("GET", "queryProcessing/"+query, false);
	xhttp.send();

    }
  </script>
  <div class="d-flex justify-content-center">
   <div class="container">
    <h1>
      Welcome to my Web Crawler!
    </h1>
    
    <div class="subtitle">
      <p class=>This webcrawler is a project for the COMP 479 course at Concordia University in Montreal, and will return results scraped from the https://concordia.ca site/domain only. Property of Alexander De Laurerntiis.</p>
    </div>
    </div>
  </div>
  {% endblock %}
  {% block body %}
  <div class="d-flex justify-content-center">
    <div id="queryform" class="d-flex justify-content-center">
    <form id="myform" method="post">
      <div>
	<input id="query" type="text" placeholder="Type your search query here." name="search">
      </div>
      <div>
	<button onclick="sendSearch()">Search</button>
    </form>
    </div>
    <div class="container">
    <h3>
      Results
    </h3>
  <div id="queryResults">

  </div>
  </div>
  </div>
  {% endblock %}

</html>

  
